.darkMode{
    .card{
        background-color: $color-dark-0;
        border: 1px solid $color-dark-2;
        .card-body {
            .card-title{
                color: $color-dark-5;
            }
            .card-text {
                color: $color-dark-3;
            }
        }
    }
}