.banner{
    //color url() position/bg-size bg-repeat
    background: url('../img/udemy-logo-semi-transparent.svg') 0/30% no-repeat,linear-gradient(61deg,$color-purple-0,$color-blue-1 41%);
    background-blend-mode: overlay;
    height: 325px;
}