.courses{
    margin: $mg-1 0;
    .course__content{
        width: 90%;
        margin: 0 auto;
        .course__left{
            background-color: $color-gray-1;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            h2{
                @include styleText($color-black-0,$fsize-3 + 1,$fw-0)
            }
        }
    }
}