.myNavbar {
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0px rgba(20, 23, 28, 0.1);
    .myNavbar__left {
        display: flex;
        align-items: center;
        .navbar-brand {
            flex-grow: 1;
            text-align: center;
            margin-right: 0px;
            img {
                width: 110px;
            }
        }
        .myNavbar__categories {
            flex-grow: 1;
            text-align: center;
            cursor: pointer;
            @include styleText($color-black-light, $fsize-1, $fw-0);
            i {
                color: $color-gray-4;
            }
        }
        .myNavbar__form-search {
            flex-grow: 8;
            .input-group {
                background-color: $color-white-cream;
                .form-control {
                    background-color: transparent;
                    border-color: transparent;
                    box-shadow: none;
                    transition: none;
                    &::placeholder {
                        color: $color-black-light;
                    }
                    &:focus {
                        background-color: $color-white-0;
                        border-top-color: $color-gray-5;
                        border-bottom-color: $color-gray-5;
                        border-left-color: $color-gray-5;
                    }
                    &:focus + .input-group-append {
                        .input-group-text {
                            background-color: $color-white-0;
                            border-top-color: $color-gray-5;
                            border-bottom-color: $color-gray-5;
                            border-right-color: $color-gray-5;
                            color: $color-red-0;
                            &:hover {
                                color: $color-white-0;
                                background-color: $color-red-0;
                            }
                        }
                    }
                }
                .input-group-append {
                    .input-group-text {
                        background-color: transparent;
                        border-color: transparent;
                        color: $color-red-0;
                        &:hover {
                            color: $color-white-0;
                            background-color: $color-red-0;
                        }
                    }
                }
            }
        }
    }
    .myNavbar__right{
        .navbar-nav{
            justify-content: space-around;
            align-items: center;
            .nav-item{
                padding: $pd-0 $pd-0 + 2;
                border-radius: $border-radius + 1;
                .nav-link{
                    @include styleText($color-black-light, $fsize-1, $fw-0);
                }
                &:hover{
                    background-color: $color-gray-1;
                }
            }
            .myNavbar__cart{
                .nav-link {
                    font-size: $fsize-3 + 2;
                }
            }
        }
    }
}
