.jobs{
    background-color: $color-gray-7;
    .jobs__content{
        .row{
            padding: $pd-0;
        }
        .jobs__items{
            text-align: center;
            margin: 0 auto;
            max-width: 400px;
        }
    }
}