.jobs{
    background-color: $color-gray-7;
    .jobs__content{
        text-align: center;
        .row{
            padding: $pd-0;
        }
        .jobs__items{
            max-width: 400px;
        }
    }
}