.partner{
    background-color: $color-gray-7;
    padding-top: $pd-3;
    .partner__content{
        width: 70%;
        margin: 0 auto;
        .partner__text{
            text-align: center;
        }
        .partner__imgs{
            display: flex;
            justify-content: space-around;
        }
    }
}