.cover{
    position: relative;
    background-image: url(../img/cover.jpg);
    height: 500px;
    @extend %backgroundImg;
    .cover__content{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
        max-width: 500px;
        h1{
            @include styleText($color-white-0,$fsize-2,$fw-1);
        }
        p{
            @include styleText($color-white-0,$fsize-3,$fw-0);
        }
        .cover__form{
            @include styleFormSearch($color-white-0,$color-white-0,$color-white-0)
        }
    }
}